    <!-- Footer -->
    <footer>
        <div class="left">
            <ul class="footer-items">
                <li><a href="/aboutus">ABOUT</a></li>
                <li><a href="">COPYRIGHT</a></li>
                <li><a href="/privacy">PRIVACY</a></li>
                <li><a href="/help">HELP</a></li>
            </ul>
        </div>
        <div class="right">
            <div><h1>Connect with us</h1></div>
            <div class="social-media-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <div><p>©Lazada 2023</p></div>
        </div>
    </footer>
</body>
</html>
