<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <main>
        <!-- About Us Section -->
        <section id="about-us">
            <h2>LAZADA - LEADING ONLINE SHOPPING CHANNEL!</h2>
            <p>
              Lazada is Asia’s leading online department store offering a fast, secure, and convenient online shopping experience with a broad product offering in categories ranging from fashion, consumer electronics to household goods, toys, and sports equipment. 
          
              Lazada is always striving to offer its customers the best possible offering – including multiple payment options, free returns, and extensive customer service and warranty commitments. 
          
              Lazada has a number of brand-named products, including various categories for customers to choose from, i.e., Fashion, Electronics, Toys, Sporting goods, and Home Appliances. Lazada aims to provide the best products and impeccable service to the customer with privileges including Free Return, Cash On Delivery, and Customer Service in order to deliver a valuable shopping experience.
          
              Be the first to hear of our exciting sales & promos and get updates on the latest products and campaigns featured in Lazada. Gain insights into current and upcoming sales and promotions followed by taking part in our mobile and social media campaigns to win free prizes and vouchers. All at your fingertips, simply shop - anywhere, at any time!
          
              Because you are important to us, we are dedicated to providing you the best shopping experience. If you have any questions, please feel free to contact us through phone calls or Emails.
            </p>
          </section>
          
    </main>
    <hr>

<%- include('./partials/footer.ejs') %>