<%- include('./partials/header.ejs') %>
    <!-- Main -->
    <main>
        <div class="topnav">
            <div class="search-wrapper">
                <input type="text" placeholder="Search for help...">
                <i class="fas fa-search search-icon"></i>
            </div>
        </div>
    </main>
    <hr>
<%- include('./partials/footer.ejs') %>
